
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
}

body {
  background: #f5f5f5;
  min-height: 100vh;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 2px solid #f2f2f2;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: orange;
  text-decoration: none;
}

.logo span {
  color: #333;
}

.logo:hover {
  color: orange;
  text-decoration: none;
}

.search-container {
  position: relative;
  width: 40%;
  min-width: 250px;
}

.search-container input {
  width: 100%;
  padding: 10px 45px 10px 15px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: 0.3s;
}


.search-container button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  color: #555;
  transition: 0.3s;
}

.search-container button:hover {
  color: orange;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  margin-left: 60px;
  font-weight: bold;
  transition: 0.2s;
}

.nav-links a:hover {
  color: orange;
}


.container {
  background: #fff;
  
  align-items: center;
  gap: 20px   ;
  padding: 32px;
  max-width: 900px;
  width: 90%;
  box-shadow: 0 2px 8px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin: 150px auto;
}

.product-image img {
 
  max-width: 250px;
  display: block;
  margin: auto;
}

.product-details h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.product-details p {
  font-size: 15px;
  margin: 10px 0;
}

.buttons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

button {
  background: orange;
  border: none;
  padding :15px 40px;
  border-radius: 6px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ffb300;
}
.back-wrapper {
  margin-top: 20px;
}

.back-btn {
  text-decoration: none;
  font-weight: bold;
  color: orange;
  font-size: 14px;
}

.back-btn:hover {
  text-decoration: underline;
}


